:root
{
   
}

*{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
 .btn{
    padding: 10px;
 }
html
{
    font-size: 75%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
/* css for banner */
section
{
  padding: 2rem,9%;
  padding-bottom: 3rem;
  text-align: center;
  

}
/* css for service */
.service .box-container
{
     border: 0px solid;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));

     gap:1.5rem
}
.service .box-container .box{
    border: 2px solid;
    padding: 3rem 2rem;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(8, 3, 86);
    color: white;
    border-radius:30px ;
    box-shadow: 2px 2px 2px rgb(248, 1, 42);
   
}
.service .box-container .box h3{
    font-size: 20px;
   color: rgb(92, 242, 69);
   line-height: 1.2;
}
.service .box-container .box p{
    font-family: sans-serif;
    font-weight: bold;
}

.service .box-container .box img:hover{
    transform: scale(1.1);
   
}
.service .box-container .box button{
   margin-top: 20px;
   background-color: aquamarine;
   border-radius:20px ;
  
}
.service .box-container .box button:hover{
    background-color: rgb(144, 143, 190);
}
.img{
    width:175px;
    height: 175px;
}
.heading
{
   padding:5px;
   font-size: 3.5rem;
   background-color: rgb(19, 27, 190);
   color: white;
   display: inline-block;
   border: 1px solid;
   border-top-right-radius: 20px ;
   border-bottom-left-radius: 20px;
   margin-top: 25px;
   
}
.heading:hover{
    background-color: black;
   
}
/* service section end */


/* Product section start */

.product .product-slider
{
    border: px solid;
    padding: 1rem;
}

.product .product-slider:first-child
{
   margin-bottom: 1.5rem;
}
.product .product-slider .box
{
   border: 1px solid red;
   border-radius: 0.5rem;
   width: 200px;
   height: 200px;
   text-align: center;
   padding: 2rem 1rem;
   outline-offset: -1rem;
   outline-color: rgb(236, 38, 38);
   box-shadow: green;
   display: inline-block;
}
.product .product-slider .box{
    background-color: rgb(15, 12, 99);
   
    align-items: center;
    justify-content: center;
    margin-left:50px ;
    margin-right: 50px;
    margin-bottom: 30px;
   
}
.product .product-slider .box .img
{
    width: 50px;
    height: 50px;
}
.product .product-slider .box .img:hover
{
    transform: scale(1.1);
}

.product .product-slider .box  h1
{
    font-size: 1.5rem;
    color: rgb(92, 242, 69);
}
.product .product-slider .box .price
{
   font-size: 1rem;
   padding: 0.5rem 0;
   color: darksalmon;
}
.product .product-slider .box .stars i
{
   font-size: 1rem;
   color: rgba(231, 168, 20, 0.74);
   
}
.product .product-slider .box button{
    background-color: aquamarine;
    border-radius: 20px;
   
}
/* Product section end */

/* categories section start */
.categories .categories-slider
{
    border: px solid;
    padding: 1rem;
}

.categories .categories-slider:first-child
{
   margin-bottom: 1.5rem;
}
.categories .categories-slider .box
{
   border: 1px solid red;
   border-radius: 0.5rem;
   width: 200px;
   height: 200px;
   text-align: center;
   padding: 2rem 1rem;
 
   outline-offset: -1rem;
   outline-color: rgb(236, 38, 38);
   box-shadow: green;
   
}
.categories .categories-slider .box{
   
    background-color: rgb(7, 7, 92);
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left:50px ;
    margin-right: 50px;
    margin-bottom: 30px;
}
.categories .categories-slider .box .img
{
    width: 80px;
    height: 80px;
}
.categories .categories-slider .box .img:hover
{
    transform: scale(1.1);
}

.categories .categories-slider .box  h1
{
    font-size: 1.8rem;
    color: rgb(92, 242, 69);
}
.categories .categories-slider .box .price
{
   font-size: 1rem;
   padding: 0.5rem 0;
   color: darksalmon;
}
.categories .categories-slider .box .stars i
{
   font-size: 1.5rem;
   color: rgba(231, 168, 20, 0.74);
   
}
.categories .categories-slider .box button{
    background-color: aquamarine;
    border-radius: 20px;
   
}


/* categories section end */

/* Review section start */
.reviews .reviews-slider
{
    border: 0px solid;
    padding: 1rem;
}

.reviews .reviews-slider:first-child
{
   margin-bottom: 1.5rem;
}
.reviews .reviews-slider .box
{
   border: 1px solid red;
   border-radius: 0.5rem;
   width: 200px;
   height: 200px;
   text-align: center;
   padding: 2rem 1rem;
 
   outline-offset: -1rem;
   outline-color: rgb(236, 38, 38);
   box-shadow: green;
   
}
.reviews .reviews-slider .box{
   
    background-color: rgb(7, 7, 92);
   display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left:50px ;
    margin-right: 50px;
    margin-bottom: 30px;
}
.reviews .reviews-slider .box .img
{
    width: 50px;
    height: 50px;
}
.reviews .reviews-slider .box .img:hover
{
    transform: scale(1.1);
}

.reviews .reviews-slider .box  h1
{
    font-size: 1.2rem;
    color: rgb(92, 242, 69);
}

.reviews .reviews-slider .box .para{
    color: white;
}
.reviews .reviews-slider .box .stars i
{
   font-size: 1rem;
   color: rgba(231, 168, 20, 0.74);
   
}


/* Review section end */

/* footer section start */
  
.footer .box-container{
    border: 0px solid;
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
       gap: 1.5rem;
}

.footer .box-container .box h3{
        font-size: 1.2rem;
       
}
.footer .box-container .box h3 i{
    color: rgb(9, 38, 46);
    box-shadow:2px 2px 2px yellow;
}
.footer .box-container .box .links{
    display: block;
    font-size: 1rem;
    padding: 1rem 0;
}
.footer .box-container .box .links i{
    color: blue;
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
     padding-right: 2rem;
}
.footer .box-container .box .share a{
    border:0px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    margin-left: .2rem;
    background: gray;
}

.footer .box-container .box .share a:hover {
    background-color: rgb(150, 166, 135);
}

.footer .box-container .box .email
{
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background-color: grey;
    font-size: 1.5rem;
}
.footer .box-container .box .payment
{
    margin-top: 2rem;
    height: 3rem;
}
/* footer section end */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9% ;
    background-color: rgb(163, 157, 157);
    color: white;
    box-shadow:0.1rem 0.1rem 0.1rem 0.1rem rgb(4, 15, 233);
}

.header .logo {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(39, 125, 62);
    text-shadow:2px 2px 2px yellow;
}
.header .logo i{
    color: rgb(3, 55, 55);
    text-shadow:2px 2px 2px rgb(71, 249, 77);
}
.header .navbar a{

    font-size: 1.5rem;
    margin: 0 1rem;
    color: rgb(11, 47, 227);

}
.header .navbar a:hover{
    color: black;

}
.header .navbar.active{
    right: 2rem;
    transition: 0.4s linear;
    
}
.header .icons div{
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    background-color: rgba(23, 100, 56, 0.301);
    margin: 0.3rem;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
.header .icons div:hover{
    color: rgb(1, 67, 23);
    background-color: white;
}
.login{
    background-color: rgb(255, 255, 255);
    color: rgb(14, 1, 247);
    border: none;
    border-radius: 7px;
    width: 100px;
    height: 25px;
    margin-right: 20px 20px 10px 20px;
   
}
.login:hover{
    background-color: rgb(127, 221, 235);
    color: white;
}

.signup{
    background-color: rgb(255, 255, 255);
    color: rgb(14, 1, 247);
    border: none;
    border-radius: 7px;
    width: 100px;
    height: 25px;
    margin-right: 20px 20px 10px 20px;
   
}
.signup:hover{
    background-color: rgb(127, 221, 235);
    color: white;
}

#menu-btn{
    display: none;
}
.header .navbar .search-form.active{
    right: 2rem;
    transition: 0.4s linear;
    
}

.header .search-form{
    border: 0;
    position: absolute;
    top: 110%;
    right: -110% ;
    width: 20rem;
    height: 4rem;
    background-color:white;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* box-shadow: 2px 2px 2px black; */
}
.header .search-form.active{
           right: 2rem;
           transition: 0.4s linear;
          
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    color: black;
    padding: 0 1.5rem;
}
.header .search-form label{
    font-size: 2.2rem;
    padding: 1.5rem;
    color: black;
    cursor: pointer;
}
.header .search-form label:hover{
    color: green;
    
}
.home{
    border: 0px solid;
    display: flex;
    justify-content: center;
    background: url(img/y.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20rem;
    padding-bottom: 10rem;
    
  
}

.home .content{
    border: 0px solid;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    
}
.home .content h1{
    font-size: 25px;
}
.home .content h1,p{
    margin-top: 20px;
}

.home .content p{
    width: 400px;
    font-size: 1.2rem;
}
.home .content button{
    margin-top: 20px;
    background-color: rgb(131, 232, 131);
    border-radius: 10px;
}
.home .content button:hover{
    background-color: rgb(255, 255, 255);
   
}









/* media query */
@media(max-width:900px)
{
    html
    {
        font-size: 55%;
        
    }
    .header{
        padding: 2rem;
    }
   
}
@media(max-width:780px)
{
    #menu-btn{
        display:inline-block ;
    }
    .header .navbar
    {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: 2px 2px 2px black;
        border-radius: 0.5rem;
        background: rgb(255, 255, 255);
       
}
.header .navbar a
{
     font-size: 2rem;
     margin: 2rem 2.5rem;
     display: block;
}
}
@media(max-width:450px)
{
    html
    {
        font-size: 50%;
        
    }
}

@media(max-width:1177px){
     html{
        font-size:50% ;
     }
   

}
